asttokens
backcall
branca
certifi
cffi
charset-normalizer
click
colorama
cryptography
debugpy
decorator
docopt
entrypoints
executing
folium
googlemaps
idna
ipykernel
ipython
jedi
Jinja2
joblib
jupyter_client
jupyter_core
MarkupSafe
matplotlib-inline
mosestokenizer
nest-asyncio
nltk
numpy
openfile
packaging
pandas
parso
pdfminer.six
pickleshare
platformdirs
prompt-toolkit
psutil
pure-eval
pycparser
Pygments
pyparsing
python-dateutil
pytz
pywin32
pyzmq
regex
requests
sacremoses
six
stack-data
toolwrapper
tornado
tqdm
traitlets
uctools
urllib3
wcwidth
